:root{
  --main-color: #f3f3f3;
  --secondary-color: #161516;
  --third-color: rgb(13, 110, 253);
  --grosor-negrita :bold;
  --navbar-color: #f3f3f3;
}

body{
  font-family: "Allerta Stencil", sans-serif;
  background-color: var(--main-color);
  color: var(--secondary-color);
}